html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.goggle-player-surface:fullscreen {
  background: #000;
}

.goggle-player-surface:fullscreen canvas {
  width: 100%;
  height: auto;
  max-height: 100%;
}

/* a {
  color: inherit;
  text-decoration: none;
} */
